trunk/XincoWorkflow/src/com/bluecubs/xinco/workflow/service/XincoWorkflow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:XincoWorkflow"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:tns="http://core.bluecubs.com/XincoWorkflow" 
             name="XincoWorkflow" 
             xmlns:impl="urn:XincoWorkflow"
             xmlns:intf="urn:XincoWorkflow"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:plink="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <types>
        <xsd:schema targetNamespace="workflow.xinco.com" xmlns:tns1="workflow.xinco.com">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:complexType name="Node">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"></xsd:element>
                    <xsd:element name="description" type="xsd:string"></xsd:element>
                    <xsd:element name="properties" type="tns1:Vector"></xsd:element>
                    <xsd:element name="activities" type="tns1:Vector"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Property">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"></xsd:element>
                    <xsd:element name="activity_id" type="xsd:int"></xsd:element>
                    <xsd:element name="transaction_id" type="xsd:int"></xsd:element>
                    <xsd:element name="node_id" type="xsd:int"></xsd:element>
                    <xsd:element name="description" type="xsd:string"></xsd:element>
                    <xsd:element name="property" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Activity">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"></xsd:element>
                    <xsd:element name="assignedTo" type="tns1:Resource"></xsd:element>
                    <xsd:element name="assignedOn" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="completedOn" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="properties" type="tns1:Vector"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Resource">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"></xsd:element>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="email" type="xsd:string"></xsd:element>
                    <xsd:element name="activities" type="tns1:Vector"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Transaction">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"></xsd:element>
                    <xsd:element name="description" type="xsd:string"></xsd:element>
                    <xsd:element name="properties" type="tns1:Vector"></xsd:element>
                    <xsd:element name="activities" type="tns1:Vector"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="WorkflowInstance">
                <xsd:complexContent>
                    <xsd:extension base="tns1:Node" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <xsd:sequence>
                            <xsd:element name="workflow_id" type="xsd:int"></xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="WorkflowTemplate">
                <xsd:complexContent>
                    <xsd:extension base="tns1:WorkflowInstance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <xsd:sequence>
                            <xsd:element name="template_id" type="xsd:int"></xsd:element>
                            <xsd:element name="description" type="xsd:string"></xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
        <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://add.xinco.bluecubs.com"/>
            <import namespace="http://core.xinco.bluecubs.com"/>
            <import namespace="http://workflow.xinco.bluecubs.com"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="Vector">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
                </sequence>
            </complexType>
        </schema>
    </types>
    <portType name="XincoWorkflow">
        <wsdl:operation name="XincoWorkflowOperation">
            <wsdl:input name="input1" message="tns:XincoWorkflowOperationRequest"/>
            <wsdl:output name="output1" message="tns:XincoWorkflowOperationReply"/>
        </wsdl:operation>
    </portType>
    <binding name="XincoWorkflowBinding" type="tns:XincoWorkflow">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="XincoWorkflowOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://core.bluecubs.com/XincoWorkflow"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://core.bluecubs.com/XincoWorkflow"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <service name="XincoWorkflowService">
        <wsdl:port name="XincoWorkflowPort" binding="tns:XincoWorkflowBinding">
            <soap:address location="http://localhost:18181/XincoWorkflowService/XincoWorkflowPort"/>
        </wsdl:port>
    </service>
    <plink:partnerLinkType name="XincoWorkflowPartner">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plink:role name="XincoWorkflowRole" portType="tns:XincoWorkflow"/>
    </plink:partnerLinkType>
</definitions>
