trunk/Xinco/src/com/bluecubs/xinco/service/Xinco.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:Xinco" 
                  xmlns:apachesoap="http://xml.apache.org/xml-soap" 
                  xmlns:impl="urn:Xinco" 
                  xmlns:intf="urn:Xinco" 
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns2="http://core.xinco.bluecubs.com" 
                  xmlns:tns3="http://add.xinco.bluecubs.com" >
    <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
    <wsdl:types>
        <schema targetNamespace="http://core.xinco.bluecubs.com" 
                xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://add.xinco.bluecubs.com"/>
            <import namespace="http://xml.apache.org/xml-soap"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="XincoVersion">
                <sequence>
                    <element name="version_high" type="xsd:int"/>
                    <element name="version_low" type="xsd:int"/>
                    <element name="version_mid" type="xsd:int"/>
                    <element name="version_postfix" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="XincoCoreUser">
                <sequence>
                    <element name="change" type="xsd:boolean"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="email" nillable="true" type="xsd:string"/>
                    <element name="firstname" nillable="true" type="xsd:string"/>
                    <element name="id" type="xsd:int"/>
                    <element name="name" nillable="true" type="xsd:string"/>
                    <element name="reason" nillable="true" type="xsd:string"/>
                    <element name="status_number" type="xsd:int"/>
                    <element name="username" nillable="true" type="xsd:string"/>
                    <element name="userpassword" nillable="true" type="xsd:string"/>
                    <element name="writeGroups" type="xsd:boolean"/>
                    <element name="xinco_core_groups" nillable="true" type="apachesoap:Vector"/>
                </sequence>
            </complexType>
            <complexType name="XincoCoreLanguage">
                <sequence>
                    <element name="designation" nillable="true" type="xsd:string"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="id" type="xsd:int"/>
                    <element name="sign" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="XincoCoreNode">
                <sequence>
                    <element name="designation" nillable="true" type="xsd:string"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="xinco_core_acl" nillable="true" type="apachesoap:Vector"/>
                    <element name="xinco_core_data" nillable="true" type="apachesoap:Vector"/>
                    <element name="xinco_core_language" nillable="true" type="tns2:XincoCoreLanguage"/>
                    <element name="xinco_core_node_id" type="xsd:int"/>
                    <element name="xinco_core_nodes" nillable="true" type="apachesoap:Vector"/>
                    <element name="id" type="xsd:int"/>
                    <element name="status_number" type="xsd:int"/>
                </sequence>
            </complexType>
            <complexType name="XincoCoreDataType">
                <sequence>
                    <element name="designation" nillable="true" type="xsd:string"/>
                    <element name="id" type="xsd:int"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="description" nillable="true" type="xsd:string"/>
                    <element name="xinco_core_data_type_attributes" nillable="true" type="apachesoap:Vector"/>
                </sequence>
            </complexType>
            <complexType name="XincoCoreData">
                <sequence>
                    <element name="designation" nillable="true" type="xsd:string"/>
                    <element name="xinco_core_acl" nillable="true" type="apachesoap:Vector"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="xinco_core_data_type" nillable="true" type="tns2:XincoCoreDataType"/>
                    <element name="xinco_core_language" nillable="true" type="tns2:XincoCoreLanguage"/>
                    <element name="xinco_core_node_id" type="xsd:int"/>
                    <element name="id" type="xsd:int"/>
                    <element name="status_number" type="xsd:int"/>
                    <element name="xinco_add_attributes" nillable="true" type="apachesoap:Vector"/>
                    <element name="xinco_core_logs" nillable="true" type="apachesoap:Vector"/>
                </sequence>
            </complexType>
            <complexType name="XincoCoreACE">
                <sequence>
                    <element name="admin_permission" type="xsd:boolean"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="execute_permission" type="xsd:boolean"/>
                    <element name="xinco_core_data_id" type="xsd:int"/>
                    <element name="xinco_core_group_id" type="xsd:int"/>
                    <element name="xinco_core_node_id" type="xsd:int"/>
                    <element name="xinco_core_user_id" type="xsd:int"/>
                    <element name="id" type="xsd:int"/>
                    <element name="read_permission" type="xsd:boolean"/>
                    <element name="write_permission" type="xsd:boolean"/>
                    <element name="owner" type="xsd:boolean"/>
                    <element name="userId" type="xsd:int"/>
                </sequence>
            </complexType>
            <complexType name="XincoCoreLog">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="op_code" type="xsd:int"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="op_datetime" nillable="true" type="xsd:dateTime"/>
                    <element name="op_description" nillable="true" type="xsd:string"/>
                    <element name="version" nillable="true" type="tns2:XincoVersion"/>
                    <element name="xinco_core_data_id" type="xsd:int"/>
                    <element name="xinco_core_user_id" type="xsd:int"/>
                </sequence>
            </complexType>
            <complexType name="XincoCoreGroup">
                <sequence>
                    <element name="designation" nillable="true" type="xsd:string"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="id" type="xsd:int"/>
                    <element name="status_number" type="xsd:int"/>
                </sequence>
            </complexType>
            <complexType name="XincoCoreDataTypeAttribute">
                <sequence>
                    <element name="designation" nillable="true" type="xsd:string"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="attribute_id" type="xsd:int"/>
                    <element name="data_type" nillable="true" type="xsd:string"/>
                    <element name="size" type="xsd:int"/>
                    <element name="xinco_core_data_type_id" type="xsd:int"/>
                </sequence>
            </complexType>
            <complexType name="XincoSetting">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="description" type="xsd:string"/>
                    <element name="int_value" type="xsd:int"/>
                    <element name="string_value" type="xsd:string"/>
                    <element name="bool_value" type="xsd:boolean"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="long_value" type="xsd:long"/>
                    <element name="xinco_settings" nillable="true" type="apachesoap:Vector"/>
                </sequence>
            </complexType>
        </schema>
        <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://add.xinco.bluecubs.com"/>
            <import namespace="http://core.xinco.bluecubs.com"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="Vector">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
                </sequence>
            </complexType>
        </schema>
        <schema targetNamespace="http://add.xinco.bluecubs.com" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xml.apache.org/xml-soap"/>
            <import namespace="http://core.xinco.bluecubs.com"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="XincoAddAttribute">
                <sequence>
                    <element name="attrib_datetime" nillable="true" type="xsd:dateTime"/>
                    <element name="attrib_double" type="xsd:double"/>
                    <element name="attrib_int" type="xsd:int"/>
                    <element name="attrib_text" nillable="true" type="xsd:string"/>
                    <element name="attrib_unsignedint" type="xsd:long"/>
                    <element name="attrib_varchar" nillable="true" type="xsd:string"/>
                    <element name="attribute_id" type="xsd:int"/>
                    <element name="xinco_core_data_id" type="xsd:int"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="change" type="xsd:boolean"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    
    <wsdl:message name="setXincoCoreACERequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreACE">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoCoreDataRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="doXincoCoreDataCheckoutResponse">
        
        <wsdl:part name="doXincoCoreDataCheckoutReturn" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="checkXincoCoreUserNewPasswordRequest">
        
        <wsdl:part name="in0" type="soapenc:string">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
        <wsdl:part name="in2" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreDataRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoSettingResponse">
        
        <wsdl:part name="setXincoSettingReturn" type="tns2:XincoSetting">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getAllXincoUsersResponse">
        
        <wsdl:part name="getAllXincoUsersReturn" type="apachesoap:Vector">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getAllXincoUsersRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="findXincoCoreNodesRequest">
        
        <wsdl:part name="in0" type="soapenc:string">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreLanguage">
            
        </wsdl:part>
        
        <wsdl:part name="in2" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="uploadXincoCoreDataRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="soapenc:base64Binary">
            
        </wsdl:part>
        
        <wsdl:part name="in2" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoServerVersionResponse">
        
        <wsdl:part name="getXincoServerVersionReturn" type="tns2:XincoVersion">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreGroupResponse">
        
        <wsdl:part name="setXincoCoreGroupReturn" type="tns2:XincoCoreGroup">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreLogResponse">
        
        <wsdl:part name="setXincoCoreLogReturn" type="tns2:XincoCoreLog">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoSettingRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoAddAttributeResponse">
        
        <wsdl:part name="in0" type="tns3:XincoAddAttribute">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreLogRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreLog">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoCoreNodeRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreNode">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="findXincoCoreNodesResponse">
        
        <wsdl:part name="findXincoCoreNodesReturn" type="apachesoap:Vector">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getAllXincoCoreGroupsRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getAllXincoCoreLanguagesResponse">
        
        <wsdl:part name="getAllXincoCoreLanguagesReturn" type="apachesoap:Vector">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="checkXincoCoreUserNewPasswordResponse">
        
        <wsdl:part name="checkXincoCoreUserNewPasswordReturn" type="xsd:boolean">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="findXincoCoreDataRequest">
        
        <wsdl:part name="in0" type="soapenc:string">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreLanguage">
            
        </wsdl:part>
        
        <wsdl:part name="in2" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoCoreDataTypeAttributeRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreDataTypeAttribute">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="uploadXincoCoreDataResponse">
        
        <wsdl:part name="uploadXincoCoreDataReturn" type="xsd:int">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="indexFilesResponse">
        
        <wsdl:part name="indexFilesReturn" type="xsd:boolean">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreACEResponse">
        
        <wsdl:part name="setXincoCoreACEReturn" type="tns2:XincoCoreACE">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoSettingRequest">
        
        <wsdl:part name="in0" type="tns2:XincoSetting">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreNodeRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreNode">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="removeXincoCoreACEResponse">
        
        <wsdl:part name="removeXincoCoreACEReturn" type="xsd:boolean">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="doXincoCoreDataCheckinRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="undoXincoCoreDataCheckoutResponse">
        
        <wsdl:part name="undoXincoCoreDataCheckoutReturn" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoAddAttributeRequest">
        
        <wsdl:part name="in0" type="tns3:XincoAddAttribute">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoCoreDataResponse">
        
        <wsdl:part name="getXincoCoreDataReturn" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="indexFilesRequest">
        
        <wsdl:part name="in0" type="apachesoap:Vector">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoCoreDataTypeAttributeResponse">
        
        <wsdl:part name="getXincoCoreDataTypeAttributeReturn" type="tns2:XincoCoreDataTypeAttribute">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="undoXincoCoreDataCheckoutRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoSettingResponse">
        
        <wsdl:part name="getXincoSettingReturn" type="apachesoap:Vector">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreNodeResponse">
        
        <wsdl:part name="setXincoCoreNodeReturn" type="tns2:XincoCoreNode">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getAllXincoCoreDataTypesRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoServerVersionRequest">
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreUserResponse">
        
        <wsdl:part name="setXincoCoreUserReturn" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="downloadXincoCoreDataResponse">
        
        <wsdl:part name="downloadXincoCoreDataReturn" type="soapenc:base64Binary">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreDataResponse">
        
        <wsdl:part name="setXincoCoreDataReturn" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreLanguageResponse">
        
        <wsdl:part name="setXincoCoreLanguageReturn" type="tns2:XincoCoreLanguage">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getAllXincoCoreLanguagesRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getCurrentXincoCoreUserRequest">
        
        <wsdl:part name="in0" type="soapenc:string">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="soapenc:string">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoAddAttributeRequest">
        
        <wsdl:part name="in0" type="tns3:XincoAddAttribute">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getAllXincoCoreDataTypesResponse">
        
        <wsdl:part name="getAllXincoCoreDataTypesReturn" type="apachesoap:Vector">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getAllXincoCoreGroupsResponse">
        
        <wsdl:part name="getAllXincoCoreGroupsReturn" type="apachesoap:Vector">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="findXincoCoreDataResponse">
        
        <wsdl:part name="findXincoCoreDataReturn" type="apachesoap:Vector">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreLanguageRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreLanguage">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="downloadXincoCoreDataRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getCurrentXincoCoreUserResponse">
        
        <wsdl:part name="getCurrentXincoCoreUserReturn" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="doXincoCoreDataCheckoutRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="doXincoCoreDataCheckinResponse">
        
        <wsdl:part name="doXincoCoreDataCheckinReturn" type="tns2:XincoCoreData">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoCoreNodeResponse">
        
        <wsdl:part name="getXincoCoreNodeReturn" type="tns2:XincoCoreNode">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="getXincoAddAttributeResponse">
        
        <wsdl:part name="getXincoAddAttributeReturn" type="tns3:XincoAddAttribute">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="removeXincoCoreACERequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreACE">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreGroupRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreGroup">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    
    <wsdl:message name="setXincoCoreUserRequest">
        
        <wsdl:part name="in0" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
        <wsdl:part name="in1" type="tns2:XincoCoreUser">
            
        </wsdl:part>
        
    </wsdl:message>
    <wsdl:message name="localizeStringRequest">
        <wsdl:part name="key" type="xsd:string"/>
        <wsdl:part name="locale" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="localizeStringResponse">
        <wsdl:part name="localizedString" type="xsd:string"/>
    </wsdl:message>
    <wsdl:portType name="Xinco">
        
        <wsdl:operation name="getXincoServerVersion">
            
            <wsdl:input message="impl:getXincoServerVersionRequest" name="getXincoServerVersionRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:getXincoServerVersionResponse" name="getXincoServerVersionResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getCurrentXincoCoreUser" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:getCurrentXincoCoreUserRequest" name="getCurrentXincoCoreUserRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:getCurrentXincoCoreUserResponse" name="getCurrentXincoCoreUserResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getAllXincoCoreGroups" parameterOrder="in0">
            
            <wsdl:input message="impl:getAllXincoCoreGroupsRequest" name="getAllXincoCoreGroupsRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:getAllXincoCoreGroupsResponse" name="getAllXincoCoreGroupsResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getAllXincoCoreLanguages" parameterOrder="in0">
            
            <wsdl:input message="impl:getAllXincoCoreLanguagesRequest" name="getAllXincoCoreLanguagesRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:getAllXincoCoreLanguagesResponse" name="getAllXincoCoreLanguagesResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getAllXincoCoreDataTypes" parameterOrder="in0">
            
            <wsdl:input message="impl:getAllXincoCoreDataTypesRequest" name="getAllXincoCoreDataTypesRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:getAllXincoCoreDataTypesResponse" name="getAllXincoCoreDataTypesResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getXincoCoreNode" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:getXincoCoreNodeRequest" name="getXincoCoreNodeRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:getXincoCoreNodeResponse" name="getXincoCoreNodeResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getXincoCoreData" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:getXincoCoreDataRequest" name="getXincoCoreDataRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:getXincoCoreDataResponse" name="getXincoCoreDataResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="doXincoCoreDataCheckout" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:doXincoCoreDataCheckoutRequest" name="doXincoCoreDataCheckoutRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:doXincoCoreDataCheckoutResponse" name="doXincoCoreDataCheckoutResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="undoXincoCoreDataCheckout" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:undoXincoCoreDataCheckoutRequest" name="undoXincoCoreDataCheckoutRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:undoXincoCoreDataCheckoutResponse" name="undoXincoCoreDataCheckoutResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="doXincoCoreDataCheckin" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:doXincoCoreDataCheckinRequest" name="doXincoCoreDataCheckinRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:doXincoCoreDataCheckinResponse" name="doXincoCoreDataCheckinResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="downloadXincoCoreData" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:downloadXincoCoreDataRequest" name="downloadXincoCoreDataRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:downloadXincoCoreDataResponse" name="downloadXincoCoreDataResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="uploadXincoCoreData" parameterOrder="in0 in1 in2">
            
            <wsdl:input message="impl:uploadXincoCoreDataRequest" name="uploadXincoCoreDataRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:uploadXincoCoreDataResponse" name="uploadXincoCoreDataResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="findXincoCoreNodes" parameterOrder="in0 in1 in2">
            
            <wsdl:input message="impl:findXincoCoreNodesRequest" name="findXincoCoreNodesRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:findXincoCoreNodesResponse" name="findXincoCoreNodesResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="findXincoCoreData" parameterOrder="in0 in1 in2">
            
            <wsdl:input message="impl:findXincoCoreDataRequest" name="findXincoCoreDataRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:findXincoCoreDataResponse" name="findXincoCoreDataResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreNode" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:setXincoCoreNodeRequest" name="setXincoCoreNodeRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:setXincoCoreNodeResponse" name="setXincoCoreNodeResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreData" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:setXincoCoreDataRequest" name="setXincoCoreDataRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:setXincoCoreDataResponse" name="setXincoCoreDataResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreACE" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:setXincoCoreACERequest" name="setXincoCoreACERequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:setXincoCoreACEResponse" name="setXincoCoreACEResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="removeXincoCoreACE" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:removeXincoCoreACERequest" name="removeXincoCoreACERequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:removeXincoCoreACEResponse" name="removeXincoCoreACEResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreLog" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:setXincoCoreLogRequest" name="setXincoCoreLogRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:setXincoCoreLogResponse" name="setXincoCoreLogResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreUser" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:setXincoCoreUserRequest" name="setXincoCoreUserRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:setXincoCoreUserResponse" name="setXincoCoreUserResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreGroup" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:setXincoCoreGroupRequest" name="setXincoCoreGroupRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:setXincoCoreGroupResponse" name="setXincoCoreGroupResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreLanguage" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:setXincoCoreLanguageRequest" name="setXincoCoreLanguageRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:setXincoCoreLanguageResponse" name="setXincoCoreLanguageResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getXincoCoreDataTypeAttribute" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:getXincoCoreDataTypeAttributeRequest" name="getXincoCoreDataTypeAttributeRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:getXincoCoreDataTypeAttributeResponse" name="getXincoCoreDataTypeAttributeResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getXincoAddAttribute" parameterOrder="in0 in1">
            
            <wsdl:input message="impl:getXincoAddAttributeRequest" name="getXincoAddAttributeRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:getXincoAddAttributeResponse" name="getXincoAddAttributeResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="checkXincoCoreUserNewPassword" parameterOrder="in0 in1 in2">
            
            <wsdl:input message="impl:checkXincoCoreUserNewPasswordRequest" name="checkXincoCoreUserNewPasswordRequest">
                
            </wsdl:input>
            
            <wsdl:output message="impl:checkXincoCoreUserNewPasswordResponse" name="checkXincoCoreUserNewPasswordResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getAllXincoUsers" parameterOrder="in0">
            
            <wsdl:input name="getAllXincoUsersRequest" message="impl:getAllXincoUsersRequest">
                
            </wsdl:input>
            
            <wsdl:output name="getAllXincoUsersResponse" message="impl:getAllXincoUsersResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getXincoSetting" parameterOrder="in0">
            
            <wsdl:input name="getXincoSettingRequest" message="impl:getXincoSettingRequest">
                
            </wsdl:input>
            
            <wsdl:output name="getXincoSettingResponse" message="impl:getXincoSettingResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoSetting" parameterOrder="in0 in1">
            
            <wsdl:input name="setXincoSettingRequest" message="impl:setXincoSettingRequest">
                
            </wsdl:input>
            
            <wsdl:output name="setXincoSettingResponse" message="impl:setXincoSettingResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoAddAttribute" parameterOrder="in0 in1">
            
            <wsdl:input name="setXincoAddAttributeRequest" message="impl:setXincoAddAttributeRequest">
                
            </wsdl:input>
            
            <wsdl:output name="setXincoAddAttributeResponse" message="impl:setXincoAddAttributeResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="indexFiles" parameterOrder="in0 in1">
            
            <wsdl:input name="indexFilesRequest" message="impl:indexFilesRequest">
                
            </wsdl:input>
            
            <wsdl:output name="indexFilesResponse" message="impl:indexFilesResponse">
                
            </wsdl:output>
            
        </wsdl:operation>
        <wsdl:operation name="localizeString">
            <wsdl:input name="localizeStringRequest" message="impl:localizeStringRequest"/>
            <wsdl:output name="localizeStringResponse" message="impl:localizeStringResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="XincoSoapBinding" type="impl:Xinco">
        
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="getXincoServerVersion">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="getXincoServerVersionRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="getXincoServerVersionResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getCurrentXincoCoreUser">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="getCurrentXincoCoreUserRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="getCurrentXincoCoreUserResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getAllXincoCoreGroups">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="getAllXincoCoreGroupsRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="getAllXincoCoreGroupsResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getAllXincoCoreLanguages">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="getAllXincoCoreLanguagesRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="getAllXincoCoreLanguagesResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getAllXincoCoreDataTypes">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="getAllXincoCoreDataTypesRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="getAllXincoCoreDataTypesResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getXincoCoreNode">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="getXincoCoreNodeRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="getXincoCoreNodeResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getXincoCoreData">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="getXincoCoreDataRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="getXincoCoreDataResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="doXincoCoreDataCheckout">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="doXincoCoreDataCheckoutRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="doXincoCoreDataCheckoutResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="undoXincoCoreDataCheckout">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="undoXincoCoreDataCheckoutRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="undoXincoCoreDataCheckoutResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="doXincoCoreDataCheckin">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="doXincoCoreDataCheckinRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="doXincoCoreDataCheckinResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="downloadXincoCoreData">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="downloadXincoCoreDataRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="downloadXincoCoreDataResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="uploadXincoCoreData">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="uploadXincoCoreDataRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="uploadXincoCoreDataResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="findXincoCoreNodes">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="findXincoCoreNodesRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="findXincoCoreNodesResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="findXincoCoreData">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="findXincoCoreDataRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="findXincoCoreDataResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreNode">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="setXincoCoreNodeRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="setXincoCoreNodeResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreData">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="setXincoCoreDataRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="setXincoCoreDataResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreACE">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="setXincoCoreACERequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="setXincoCoreACEResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="removeXincoCoreACE">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="removeXincoCoreACERequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="removeXincoCoreACEResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreLog">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="setXincoCoreLogRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="setXincoCoreLogResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreUser">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="setXincoCoreUserRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="setXincoCoreUserResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreGroup">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="setXincoCoreGroupRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="setXincoCoreGroupResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoCoreLanguage">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="setXincoCoreLanguageRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="setXincoCoreLanguageResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getXincoCoreDataTypeAttribute">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="getXincoCoreDataTypeAttributeRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="getXincoCoreDataTypeAttributeResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getXincoAddAttribute">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="getXincoAddAttributeRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="getXincoAddAttributeResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="checkXincoCoreUserNewPassword">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="checkXincoCoreUserNewPasswordRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="checkXincoCoreUserNewPasswordResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getAllXincoUsers">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="getAllXincoUsersRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="getAllXincoUsersResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="getXincoSetting">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="getXincoSettingRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="getXincoSettingResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoSetting">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="setXincoSettingRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="setXincoSettingResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="setXincoAddAttribute">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="setXincoAddAttributeRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="setXincoAddAttributeResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        
        <wsdl:operation name="indexFiles">
            
            <wsdlsoap:operation soapAction=""/>
            
            <wsdl:input name="indexFilesRequest">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:input>
            
            <wsdl:output name="indexFilesResponse">
                
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:Xinco" use="encoded"/>
                
            </wsdl:output>
            
        </wsdl:operation>
        <wsdl:operation name="localizeString">
            <wsdl:input name="localizeStringRequest"/>
            <wsdl:output name="localizeStringResponse"/>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="XincoService">
        
        <wsdl:port binding="impl:XincoSoapBinding" name="Xinco">
            
            <wsdlsoap:address location="http://localhost:8084/xinco/services/Xinco"/>
            
        </wsdl:port>
        
    </wsdl:service>
    
</wsdl:definitions>
