XincoWorkflow/src/com/bluecubs/xinco/service/Workflow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:XincoWorkflow"
             xmlns:apachesoap="http://xml.apache.org/xml-soap" 
             xmlns:impl="urn:XincoWorkflow" 
             xmlns:intf="urn:XincoWorkflow" 
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://workflow.xinco.bluecubs.com"
             xmlns:tns1="http://core.xinco.bluecubs.com">
    <types>
        <schema targetNamespace="http://workflow.xinco.bluecubs.com" 
                xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xml.apache.org/xml-soap"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="Activity">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="description" type="xsd:string"/>
                    <element name="classname" type="xsd:string"></element>
                    <element name="assignedTo" type="tns:Resource"/>
                    <element name="assignedOn" type="xsd:dateTime"/>
                    <element name="completedOn" type="xsd:dateTime"/>
                    <element name="properties" nillable="true" type="apachesoap:Vector"/>
                    <element name="changerID" type="xsd:int" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="Email">
                <sequence>
                    <element name="id" type="xsd:int"></element>
                    <element name="from" type="xsd:int"></element>
                    <element name="subject" type="xsd:string"></element>
                    <element name="message" type="xsd:string"></element>
                    <element name="recipients" nillable="true" type="apachesoap:Vector"/>
                </sequence>
            </complexType>
            <complexType name="Resource">
                <sequence>
                    <element name="change" type="xsd:boolean"/>
                    <element name="changerID" type="xsd:int"/>
                    <element name="email" nillable="true" type="xsd:string"/>
                    <element name="firstname" nillable="true" type="xsd:string"/>
                    <element name="id" type="xsd:int"/>
                    <element name="name" nillable="true" type="xsd:string"/>
                    <element name="reason" nillable="true" type="xsd:string"/>
                    <element name="status_number" type="xsd:int"/>
                    <element name="username" nillable="true" type="xsd:string"/>
                    <element name="userpassword" nillable="true" type="xsd:string"/>
                    <element name="writeGroups" type="xsd:boolean"/>
                    <element name="xinco_core_groups" nillable="true" type="apachesoap:Vector"/>
                    <element name="changerID" type="xsd:int" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="Property">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="description" type="xsd:string"/>
                    <element name="stringProperty" type="xsd:string" nillable="true"/>
                    <element name="intProperty" type="xsd:int"/>
                    <element name="longProperty" type="xsd:long"/>
                    <element name="boolProperty" type="xsd:boolean"/>
                    <element name="changerID" type="xsd:int" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="Node">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="description" type="xsd:string"/>
                    <element name="properties" nillable="true" type="apachesoap:Vector"/>
                    <element name="activities" nillable="true" type="apachesoap:Vector"/>
                    <element name="startNode" type="xsd:boolean"></element>
                    <element name="endNode" type="xsd:boolean"></element>
                    <element name="changerID" type="xsd:int" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="Transaction">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="description" type="xsd:string"/>
                    <element name="from" type="tns:Node"/>
                    <element name="to" type="tns:Node"/>
                    <element name="activities" nillable="true" type="apachesoap:Vector"/>
                    <element name="properties" nillable="true" type="apachesoap:Vector"/>
                    <element name="changerID" type="xsd:int" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="WorkflowTemplate">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="description" type="xsd:string"/>
                    <element name="creationTime" type="xsd:dateTime"/>
                    <element name="nodes" nillable="true" type="apachesoap:Vector"/>
                    <element name="transactions" nillable="true" type="apachesoap:Vector"/>
                    <element name="changerID" type="xsd:int" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="WorkflowInstance">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="templateId" type="xsd:int"/>
                    <element name="creationTime" type="xsd:dateTime"/>
                    <element name="nodes" nillable="true" type="apachesoap:Vector"/>
                    <element name="transactions" nillable="true" type="apachesoap:Vector"/>
                    <element name="changerID" type="xsd:int" nillable="true"></element>
                    <element name="currentNode" type="xsd:int"></element>
                </sequence>
            </complexType>
            <complexType name="WorkflowVersion">
                <sequence>
                    <element name="version_high" type="xsd:int"/>
                    <element name="version_low" type="xsd:int"/>
                    <element name="version_mid" type="xsd:int"/>
                    <element name="version_postfix" nillable="true" type="xsd:string"/>
                    <element name="changerID" type="xsd:int" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="WorkflowSetting">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="description" type="xsd:string"/>
                    <element name="int_value" type="xsd:int"/>
                    <element name="string_value" type="xsd:string"/>
                    <element name="bool_value" type="xsd:boolean"/>
                    <element name="long_value" type="xsd:long"/>
                    <element name="workflow_settings" nillable="true" type="apachesoap:Vector"/>
                    <element name="changerID" type="xsd:int" nillable="true"></element>
                </sequence>
            </complexType>
            <complexType name="WorkflowLog">
                <sequence>
                    <element name="id" type="xsd:int"></element>
                    <element name="resource_id" type="xsd:int"></element>
                    <element name="workflow_template_id" type="xsd:int"></element>
                    <element name="workflow_instance_id" type="xsd:int"></element>
                    <element name="op_code" type="xsd:int"></element>
                    <element name="op_datetime" type="xsd:dateTime"></element>
                    <element name="op_description" type="xsd:string"></element>
                    <element name="xinco_core_user_id" type="xsd:int"></element>
                </sequence>
            </complexType>
            <complexType name="InstanceProperty">
                <complexContent>
                    <extension base="tns:Property">
                        <sequence>
                            <element name="workflow_template_id" type="xsd:int"></element>
                            <element name="workflow_instance_id" type="xsd:int"></element>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
        </schema>
        <schema targetNamespace="http://xml.apache.org/xml-soap" 
                xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://workflow.xinco.bluecubs.com"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="Vector">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
                </sequence>
            </complexType>X
        </schema>
    </types>
    <wsdl:message name="getActivityRequest">
        <wsdl:part name="in" type="tns:Activity"/>
        <wsdl:part name="Resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="getActivityResponse">
        <wsdl:part name="activity" type="tns:Activity"/>
    </wsdl:message>
    <wsdl:message name="setActivityRequest">
        <wsdl:part name="activity" type="tns:Activity"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="setActivityResponse">
        <wsdl:part name="activity" type="tns:Activity"/>
    </wsdl:message>
    <wsdl:message name="getNodeRequest">
        <wsdl:part name="in" type="tns:Node"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="getNodeResponse">
        <wsdl:part name="node" type="tns:Node"/>
    </wsdl:message>
    <wsdl:message name="getPropertyRequest">
        <wsdl:part name="in" type="tns:Property"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="getPropertyResponse">
        <wsdl:part name="property" type="tns:Property"/>
    </wsdl:message>
    <wsdl:message name="setPropertyRequest">
        <wsdl:part name="property" type="tns:Property"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="setPropertyResponse">
        <wsdl:part name="property" type="tns:Property"/>
    </wsdl:message>
    <wsdl:message name="getResourceRequest">
        <wsdl:part name="resourceReqested" type="tns:Resource"/>
        <wsdl:part name="resourceRequesting" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="getResourceResponse">
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="setResourceRequest">
        <wsdl:part name="resource" type="tns:Resource"/>
        <wsdl:part name="resourceRequesting" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="setResourceResponse">
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="getTransactionRequest">
        <wsdl:part name="in" type="tns:Transaction"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="getTransactionResponse">
        <wsdl:part name="transaction" type="tns:Transaction"/>
    </wsdl:message>
    <wsdl:message name="setTransactionRequest">
        <wsdl:part name="transaction" type="tns:Transaction"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="setTransactionResponse">
        <wsdl:part name="transaction" type="tns:Transaction"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowInstanceRequest">
        <wsdl:part name="in" type="tns:WorkflowInstance"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowInstanceResponse">
        <wsdl:part name="workflow_instance" type="tns:WorkflowInstance"/>
    </wsdl:message>
    <wsdl:message name="setWorkflowInstanceRequest">
        <wsdl:part name="instance" type="tns:WorkflowInstance"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="setWorkflowInstanceResponse">
        <wsdl:part name="instance" type="tns:WorkflowInstance"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowTemplateRequest">
        <wsdl:part name="in" type="tns:WorkflowTemplate"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="getWorkflowTemplateResponse">
        <wsdl:part name="template" type="tns:WorkflowTemplate"/>
    </wsdl:message>
    <wsdl:message name="setNodeRequest">
        <wsdl:part name="in" type="tns:Node"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="setNodeResponse">
        <wsdl:part name="node" type="tns:Node"/>
    </wsdl:message>
        <wsdl:message name="setWorkflowSettingRequest">
        <wsdl:part name="in0" type="tns:WorkflowSetting">
        </wsdl:part>
        <wsdl:part name="in1" type="tns:Resource">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="setWorkflowSettingResponse">
        <wsdl:part name="setXincoSettingReturn" type="tns:WorkflowSetting">   
        </wsdl:part>
    </wsdl:message>
        <wsdl:message name="getWorkflowSettingRequest">
        <wsdl:part name="in0" type="tns:Resource">   
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWorkflowSettingResponse">
        <wsdl:part name="getXincoSettingReturn" type="apachesoap:Vector">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWorkflowServerVersionRequest">
    </wsdl:message>
    <wsdl:message name="getWorkflowServerVersionResponse">        
        <wsdl:part name="getWorkflowServerVersionReturn" type="tns:WorkflowVersion">            
        </wsdl:part>
    </wsdl:message>
    <message name="getWorkflowLogRequest">
        <wsdl:part name="workflow_log" type="tns:WorkflowLog"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </message>
    <message name="getWorkflowLogResponse">
        <wsdl:part name="workflow_log" type="tns:WorkflowLog"/>
    </message>
    <message name="setWorkflowLogRequest">
        <wsdl:part name="workflow_log" type="tns:WorkflowLog"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </message>
    <message name="setWorkflowLogResponse">
        <wsdl:part name="workflow_log" type="tns:WorkflowLog"/>
    </message>
    <message name="getWorkflowInstancePropertyRequest">
        <wsdl:part name="InstanceProperty" type="tns:InstanceProperty"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </message>
    <message name="getWorkflowInstancePropertyResponse">
        <wsdl:part name="WorkflowInstanceProperty" type="tns:InstanceProperty"/>
    </message>
    <message name="setWorkflowInstancePropertyRequest">
        <wsdl:part name="property" type="tns:InstanceProperty"/>
        <wsdl:part name="resource" type="tns:Resource"/>
    </message>
    <message name="setWorkflowInstancePropertyResponse">
        <wsdl:part name="property" type="tns:InstanceProperty"/>
    </message>
    <wsdl:message name="sendEmailRequest">
        <wsdl:part name="email" type="tns:Email"/>
        <wsdl:part name="from" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="sendEmailResponse">
        <wsdl:part name="success" type="xsd:boolean"/>
    </wsdl:message>
    <wsdl:message name="getEmailRequest">
        <wsdl:part name="id" type="xsd:int"/>
        <wsdl:part name="user" type="tns:Resource"/>
    </wsdl:message>
    <wsdl:message name="getEmailResponse">
        <wsdl:part name="email" type="tns:Email"/>
    </wsdl:message>
    <portType name="XincoWorkflow">
        <wsdl:operation name="getActivity">
            <wsdl:input name="getActivityRequest" message="impl:getActivityRequest"/>
            <wsdl:output name="getActivityResponse" message="impl:getActivityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setActivity">
            <wsdl:input name="setActivityRequest" message="impl:setActivityRequest"/>
            <wsdl:output name="setActivityResponse" message="impl:setActivityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNode">
            <wsdl:input name="getNodeResquest" message="impl:getNodeRequest"/>
            <wsdl:output name="getNodeResponse" message="impl:getNodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getProperty">
            <wsdl:input name="getPropertyRequest" message="impl:getPropertyRequest"/>
            <wsdl:output name="getPropertyResponse" message="impl:getPropertyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setProperty">
            <wsdl:input name="setPropertyRequest" message="impl:setPropertyRequest"/>
            <wsdl:output name="setPropertyResponse" message="impl:setPropertyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getResource">
            <wsdl:input name="getResourceRequest" message="impl:getResourceRequest"/>
            <wsdl:output name="getResourceResponse" message="impl:getResourceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setResource">
            <wsdl:input name="setResourceRequest" message="impl:setResourceRequest"/>
            <wsdl:output name="setResourceResponse" message="impl:setResourceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTransaction">
            <wsdl:input name="getTransactionRequest" message="impl:getTransactionRequest"/>
            <wsdl:output name="getTransactionResponse" message="impl:getTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setTransaction">
            <wsdl:input name="setTransactionRequest" message="impl:setTransactionRequest"/>
            <wsdl:output name="setTransactionResponse" message="impl:setTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowInstance">
            <wsdl:input name="getWorkflowInstanceRequest" message="impl:getWorkflowInstanceRequest"/>
            <wsdl:output name="getWorkflowInstanceResponse" message="impl:getWorkflowInstanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setWorkflowInstance">
            <wsdl:input name="setWorkflowInstanceRequest" message="impl:setWorkflowInstanceRequest"/>
            <wsdl:output name="setWorkflowInstanceResponse" message="impl:setWorkflowInstanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowTemplate">
            <wsdl:input name="getWorkflowTemplateRequest" message="impl:getWorkflowTemplateRequest"/>
            <wsdl:output name="getWorkflowTemplateResponse" message="impl:getWorkflowTemplateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setNode">
            <wsdl:input name="setNodeRequest" message="impl:setNodeRequest"/>
            <wsdl:output name="setNodeResponse" message="impl:setNodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setWorkflowSetting">
            <wsdl:input name="setWorkflowSettingRequest" message="impl:setWorkflowSettingRequest"/>
            <wsdl:output name="setWorkflowSettingResponse" message="impl:setWorkflowSettingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowSetting">
            <wsdl:input name="getWorkflowSettingRequest" message="impl:getWorkflowSettingRequest"/>
            <wsdl:output name="getWorkflowSettingResponse" message="impl:getWorkflowSettingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowServerVersion">
            <wsdl:input name="getWorkflowServerVersionRequest" message="impl:getWorkflowServerVersionRequest"/>
            <wsdl:output name="getWorkflowServerVersionResponse" message="impl:getWorkflowServerVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowLog">
            <wsdl:input name="getWorkflowLogRequest" message="impl:getWorkflowLogRequest"/>
            <wsdl:output name="getWorkflowLogResponse" message="impl:getWorkflowLogResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setWorkflowLog">
            <wsdl:input name="setWorkflowLogRequest" message="impl:setWorkflowLogRequest"/>
            <wsdl:output name="setWorkflowLogResponse" message="impl:setWorkflowLogResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowInstanceProperty">
            <wsdl:input name="getWorkflowInstancePropertyRequest" message="impl:getWorkflowInstancePropertyRequest"/>
            <wsdl:output name="getWorkflowInstancePropertyResponse" message="impl:getWorkflowInstancePropertyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setWorkflowInstanceProperty">
            <wsdl:input name="setWorkflowInstancePropertyRequest" message="impl:setWorkflowInstancePropertyRequest"/>
            <wsdl:output name="setWorkflowInstancePropertyResponse" message="impl:setWorkflowInstancePropertyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SendEmail">
            <wsdl:input name="sendEmailRequest" message="impl:sendEmailRequest"/>
            <wsdl:output name="sendEmailResponse" message="impl:sendEmailResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEmail">
            <wsdl:input name="getEmailRequest" message="impl:getEmailRequest"/>
            <wsdl:output name="getEmailResponse" message="impl:getEmailResponse"/>
        </wsdl:operation>
    </portType>
    <wsdl:binding name="XincoWorkflowSoapBinding" type="impl:XincoWorkflow">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getActivity">
            <wsdl:input name="getActivityRequest"/>
            <wsdl:output name="getActivityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setActivity">
            <wsdl:input name="setActivityRequest"/>
            <wsdl:output name="setActivityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNode">
            <wsdl:input name="getNodeResquest"/>
            <wsdl:output name="getNodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getProperty">
            <wsdl:input name="getPropertyRequest"/>
            <wsdl:output name="getPropertyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setProperty">
            <wsdl:input name="setPropertyRequest"/>
            <wsdl:output name="setPropertyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getResource">
            <wsdl:input name="getResourceRequest"/>
            <wsdl:output name="getResourceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setResource">
            <wsdl:input name="setResourceRequest"/>
            <wsdl:output name="setResourceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTransaction">
            <wsdl:input name="getTransactionRequest"/>
            <wsdl:output name="getTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setTransaction">
            <wsdl:input name="setTransactionRequest"/>
            <wsdl:output name="setTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowInstance">
            <wsdl:input name="getWorkflowInstanceRequest"/>
            <wsdl:output name="getWorkflowInstanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setWorkflowInstance">
            <wsdl:input name="setWorkflowInstanceRequest"/>
            <wsdl:output name="setWorkflowInstanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowTemplate">
            <wsdl:input name="getWorkflowTemplateRequest"/>
            <wsdl:output name="getWorkflowTemplateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setNode">
            <wsdl:input name="setNodeRequest"/>
            <wsdl:output name="setNodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setWorkflowSetting">
            <wsdl:input name="setWorkflowSettingRequest"/>
            <wsdl:output name="setWorkflowSettingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowSetting">
            <wsdl:input name="getWorkflowSettingRequest"/>
            <wsdl:output name="getWorkflowSettingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowServerVersion">
            <wsdl:input name="getWorkflowServerVersionRequest"/>
            <wsdl:output name="getWorkflowServerVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowLog">
            <wsdl:input name="getWorkflowLogRequest"/>
            <wsdl:output name="getWorkflowLogResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setWorkflowLog">
            <wsdl:input name="setWorkflowLogRequest"/>
            <wsdl:output name="setWorkflowLogResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getWorkflowInstanceProperty">
            <wsdl:input name="getWorkflowInstancePropertyRequest"/>
            <wsdl:output name="getWorkflowInstancePropertyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setWorkflowInstanceProperty">
            <wsdl:input name="setWorkflowInstancePropertyRequest"/>
            <wsdl:output name="setWorkflowInstancePropertyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="SendEmail">
            <wsdl:input name="sendEmailRequest"/>
            <wsdl:output name="sendEmailResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEmail">
            <wsdl:input name="getEmailRequest"/>
            <wsdl:output name="getEmailResponse"/>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WorkflowService">
        <wsdl:port name="Workflow" binding="impl:XincoWorkflowSoapBinding">
            <wsdlsoap:address location="http://localhost:8084/xinco/services/XincoWorkflow"/>
        </wsdl:port>
    </wsdl:service>
</definitions>
