trunk/XincoWebApp/web/WEB-INF/wsit-com.bluecubs.xinco.server.service.Xinco.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Xinco" targetNamespace="http://service.server.xinco.bluecubs.com/" xmlns:tns="http://service.server.xinco.bluecubs.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"
 >
    <message name="getXincoServerVersion"/>
    <message name="getXincoServerVersionResponse"/>
    <message name="getCurrentXincoCoreUser"/>
    <message name="getCurrentXincoCoreUserResponse"/>
    <message name="getAllXincoCoreGroups"/>
    <message name="getAllXincoCoreGroupsResponse"/>
    <message name="getAllXincoCoreLanguages"/>
    <message name="getAllXincoCoreLanguagesResponse"/>
    <message name="getAllXincoCoreDataTypes"/>
    <message name="getAllXincoCoreDataTypesResponse"/>
    <message name="getXincoCoreNode"/>
    <message name="getXincoCoreNodeResponse"/>
    <message name="getXincoCoreData"/>
    <message name="getXincoCoreDataResponse"/>
    <message name="doXincoCoreDataCheckout"/>
    <message name="doXincoCoreDataCheckoutResponse"/>
    <message name="doXincoCoreDataCheckin"/>
    <message name="doXincoCoreDataCheckinResponse"/>
    <message name="undoXincoCoreDataCheckout"/>
    <message name="undoXincoCoreDataCheckoutResponse"/>
    <message name="downloadXincoCoreData"/>
    <message name="downloadXincoCoreDataResponse"/>
    <message name="uploadXincoCoreData"/>
    <message name="uploadXincoCoreDataResponse"/>
    <message name="findXincoCoreData"/>
    <message name="findXincoCoreDataResponse"/>
    <message name="setXincoCoreNode"/>
    <message name="setXincoCoreNodeResponse"/>
    <message name="setXincoCoreData"/>
    <message name="setXincoCoreDataResponse"/>
    <message name="setXincoCoreACE"/>
    <message name="setXincoCoreACEResponse"/>
    <message name="removeXincoCoreACE"/>
    <message name="removeXincoCoreACEResponse"/>
    <message name="setXincoCoreLog"/>
    <message name="setXincoCoreLogResponse"/>
    <message name="setXincoCoreUser"/>
    <message name="setXincoCoreUserResponse"/>
    <message name="setXincoCoreGroup"/>
    <message name="setXincoCoreGroupResponse"/>
    <message name="setXincoCoreLanguage"/>
    <message name="setXincoCoreLanguageResponse"/>
    <message name="checkXincoCoreUserNewPassword"/>
    <message name="checkXincoCoreUserNewPasswordResponse"/>
    <message name="getXincoAddAttributes"/>
    <message name="getXincoAddAttributesResponse"/>
    <message name="getXincoCoreDataType"/>
    <message name="getXincoCoreDataTypeResponse"/>
    <message name="getXincoSetting"/>
    <message name="getXincoSettingResponse"/>
    <message name="getXincoCoreDataTypeAttribute"/>
    <message name="getXincoCoreDataTypeAttributeResponse"/>
    <message name="getXincoCoreNodes"/>
    <message name="getXincoCoreNodesResponse"/>
    <portType name="Xinco">
        <operation name="getXincoServerVersion">
            <input message="tns:getXincoServerVersion"/>
            <output message="tns:getXincoServerVersionResponse"/>
        </operation>
        <operation name="getCurrentXincoCoreUser">
            <input message="tns:getCurrentXincoCoreUser"/>
            <output message="tns:getCurrentXincoCoreUserResponse"/>
        </operation>
        <operation name="getAllXincoCoreGroups">
            <input message="tns:getAllXincoCoreGroups"/>
            <output message="tns:getAllXincoCoreGroupsResponse"/>
        </operation>
        <operation name="getAllXincoCoreLanguages">
            <input message="tns:getAllXincoCoreLanguages"/>
            <output message="tns:getAllXincoCoreLanguagesResponse"/>
        </operation>
        <operation name="getAllXincoCoreDataTypes">
            <input message="tns:getAllXincoCoreDataTypes"/>
            <output message="tns:getAllXincoCoreDataTypesResponse"/>
        </operation>
        <operation name="getXincoCoreNode">
            <input message="tns:getXincoCoreNode"/>
            <output message="tns:getXincoCoreNodeResponse"/>
        </operation>
        <operation name="getXincoCoreData">
            <input message="tns:getXincoCoreData"/>
            <output message="tns:getXincoCoreDataResponse"/>
        </operation>
        <operation name="doXincoCoreDataCheckout">
            <input message="tns:doXincoCoreDataCheckout"/>
            <output message="tns:doXincoCoreDataCheckoutResponse"/>
        </operation>
        <operation name="doXincoCoreDataCheckin">
            <input message="tns:doXincoCoreDataCheckin"/>
            <output message="tns:doXincoCoreDataCheckinResponse"/>
        </operation>
        <operation name="undoXincoCoreDataCheckout">
            <input message="tns:undoXincoCoreDataCheckout"/>
            <output message="tns:undoXincoCoreDataCheckoutResponse"/>
        </operation>
        <operation name="downloadXincoCoreData">
            <input message="tns:downloadXincoCoreData"/>
            <output message="tns:downloadXincoCoreDataResponse"/>
        </operation>
        <operation name="uploadXincoCoreData">
            <input message="tns:uploadXincoCoreData"/>
            <output message="tns:uploadXincoCoreDataResponse"/>
        </operation>
        <operation name="findXincoCoreData">
            <input message="tns:findXincoCoreData"/>
            <output message="tns:findXincoCoreDataResponse"/>
        </operation>
        <operation name="setXincoCoreNode">
            <input message="tns:setXincoCoreNode"/>
            <output message="tns:setXincoCoreNodeResponse"/>
        </operation>
        <operation name="setXincoCoreData">
            <input message="tns:setXincoCoreData"/>
            <output message="tns:setXincoCoreDataResponse"/>
        </operation>
        <operation name="setXincoCoreACE">
            <input message="tns:setXincoCoreACE"/>
            <output message="tns:setXincoCoreACEResponse"/>
        </operation>
        <operation name="removeXincoCoreACE">
            <input message="tns:removeXincoCoreACE"/>
            <output message="tns:removeXincoCoreACEResponse"/>
        </operation>
        <operation name="setXincoCoreLog">
            <input message="tns:setXincoCoreLog"/>
            <output message="tns:setXincoCoreLogResponse"/>
        </operation>
        <operation name="setXincoCoreUser">
            <input message="tns:setXincoCoreUser"/>
            <output message="tns:setXincoCoreUserResponse"/>
        </operation>
        <operation name="setXincoCoreGroup">
            <input message="tns:setXincoCoreGroup"/>
            <output message="tns:setXincoCoreGroupResponse"/>
        </operation>
        <operation name="setXincoCoreLanguage">
            <input message="tns:setXincoCoreLanguage"/>
            <output message="tns:setXincoCoreLanguageResponse"/>
        </operation>
        <operation name="checkXincoCoreUserNewPassword">
            <input message="tns:checkXincoCoreUserNewPassword"/>
            <output message="tns:checkXincoCoreUserNewPasswordResponse"/>
        </operation>
        <operation name="getXincoAddAttributes">
            <input message="tns:getXincoAddAttributes"/>
            <output message="tns:getXincoAddAttributesResponse"/>
        </operation>
        <operation name="getXincoCoreDataType">
            <input message="tns:getXincoCoreDataType"/>
            <output message="tns:getXincoCoreDataTypeResponse"/>
        </operation>
        <operation name="getXincoSetting">
            <input message="tns:getXincoSetting"/>
            <output message="tns:getXincoSettingResponse"/>
        </operation>
        <operation name="getXincoCoreDataTypeAttribute">
            <input message="tns:getXincoCoreDataTypeAttribute"/>
            <output message="tns:getXincoCoreDataTypeAttributeResponse"/>
        </operation>
        <operation name="getXincoCoreNodes">
            <input message="tns:getXincoCoreNodes"/>
            <output message="tns:getXincoCoreNodesResponse"/>
        </operation>
    </portType>
    <binding name="XincoPortBinding" type="tns:Xinco">
        <wsp:PolicyReference URI="#XincoPortBindingPolicy"/>
        <operation name="getXincoServerVersion">
            <input></input>
            <output></output>
        </operation>
        <operation name="getCurrentXincoCoreUser">
            <input></input>
            <output></output>
        </operation>
        <operation name="getAllXincoCoreGroups">
            <input></input>
            <output></output>
        </operation>
        <operation name="getAllXincoCoreLanguages">
            <input></input>
            <output></output>
        </operation>
        <operation name="getAllXincoCoreDataTypes">
            <input></input>
            <output></output>
        </operation>
        <operation name="getXincoCoreNode">
            <input></input>
            <output></output>
        </operation>
        <operation name="getXincoCoreData">
            <input></input>
            <output></output>
        </operation>
        <operation name="doXincoCoreDataCheckout">
            <input></input>
            <output></output>
        </operation>
        <operation name="doXincoCoreDataCheckin">
            <input></input>
            <output></output>
        </operation>
        <operation name="undoXincoCoreDataCheckout">
            <input></input>
            <output></output>
        </operation>
        <operation name="downloadXincoCoreData">
            <input></input>
            <output></output>
        </operation>
        <operation name="uploadXincoCoreData">
            <input></input>
            <output></output>
        </operation>
        <operation name="findXincoCoreData">
            <input></input>
            <output></output>
        </operation>
        <operation name="setXincoCoreNode">
            <input></input>
            <output></output>
        </operation>
        <operation name="setXincoCoreData">
            <input></input>
            <output></output>
        </operation>
        <operation name="setXincoCoreACE">
            <input></input>
            <output></output>
        </operation>
        <operation name="removeXincoCoreACE">
            <input></input>
            <output></output>
        </operation>
        <operation name="setXincoCoreLog">
            <input></input>
            <output></output>
        </operation>
        <operation name="setXincoCoreUser">
            <input></input>
            <output></output>
        </operation>
        <operation name="setXincoCoreGroup">
            <input></input>
            <output></output>
        </operation>
        <operation name="setXincoCoreLanguage">
            <input></input>
            <output></output>
        </operation>
        <operation name="checkXincoCoreUserNewPassword">
            <input></input>
            <output></output>
        </operation>
        <operation name="getXincoAddAttributes">
            <input></input>
            <output></output>
        </operation>
        <operation name="getXincoCoreDataType">
            <input></input>
            <output></output>
        </operation>
        <operation name="getXincoSetting">
            <input></input>
            <output></output>
        </operation>
        <operation name="getXincoCoreDataTypeAttribute">
            <input></input>
            <output></output>
        </operation>
        <operation name="getXincoCoreNodes">
            <input></input>
            <output></output>
        </operation>
    </binding>
    <service name="Xinco">
        <port name="XincoPort" binding="tns:XincoPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="XincoPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization/>
                <wsam:Addressing wsp:Optional="false"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
