trunk/XincoWebApp/src/conf/xml-resources/web-services/XincoWebService/wsdl/Xinco.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. -->
<xs:schema xmlns:tns="http://service.server.core.xinco.bluecubs.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.server.core.xinco.bluecubs.com/">

    <xs:element name="checkXincoCoreUserNewPassword" type="tns:checkXincoCoreUserNewPassword" />

    <xs:element name="checkXincoCoreUserNewPasswordResponse" type="tns:checkXincoCoreUserNewPasswordResponse" />

    <xs:element name="doXincoCoreDataCheckin" type="tns:doXincoCoreDataCheckin" />

    <xs:element name="doXincoCoreDataCheckinResponse" type="tns:doXincoCoreDataCheckinResponse" />

    <xs:element name="doXincoCoreDataCheckout" type="tns:doXincoCoreDataCheckout" />

    <xs:element name="doXincoCoreDataCheckoutResponse" type="tns:doXincoCoreDataCheckoutResponse" />

    <xs:element name="downloadXincoCoreData" type="tns:downloadXincoCoreData" />

    <xs:element name="downloadXincoCoreDataResponse" type="tns:downloadXincoCoreDataResponse" />

    <xs:element name="findXincoCoreData" type="tns:findXincoCoreData" />

    <xs:element name="findXincoCoreDataResponse" type="tns:findXincoCoreDataResponse" />

    <xs:element name="getAllXincoCoreDataTypes" type="tns:getAllXincoCoreDataTypes" />

    <xs:element name="getAllXincoCoreDataTypesResponse" type="tns:getAllXincoCoreDataTypesResponse" />

    <xs:element name="getAllXincoCoreGroups" type="tns:getAllXincoCoreGroups" />

    <xs:element name="getAllXincoCoreGroupsResponse" type="tns:getAllXincoCoreGroupsResponse" />

    <xs:element name="getAllXincoCoreLanguages" type="tns:getAllXincoCoreLanguages" />

    <xs:element name="getAllXincoCoreLanguagesResponse" type="tns:getAllXincoCoreLanguagesResponse" />

    <xs:element name="getCurrentXincoCoreUser" type="tns:getCurrentXincoCoreUser" />

    <xs:element name="getCurrentXincoCoreUserResponse" type="tns:getCurrentXincoCoreUserResponse" />

    <xs:element name="getXincoAddAttributes" type="tns:getXincoAddAttributes" />

    <xs:element name="getXincoAddAttributesResponse" type="tns:getXincoAddAttributesResponse" />

    <xs:element name="getXincoCoreData" type="tns:getXincoCoreData" />

    <xs:element name="getXincoCoreDataResponse" type="tns:getXincoCoreDataResponse" />

    <xs:element name="getXincoCoreDataType" type="tns:getXincoCoreDataType" />

    <xs:element name="getXincoCoreDataTypeAttribute" type="tns:getXincoCoreDataTypeAttribute" />

    <xs:element name="getXincoCoreDataTypeAttributeResponse" type="tns:getXincoCoreDataTypeAttributeResponse" />

    <xs:element name="getXincoCoreDataTypeResponse" type="tns:getXincoCoreDataTypeResponse" />

    <xs:element name="getXincoCoreNode" type="tns:getXincoCoreNode" />

    <xs:element name="getXincoCoreNodeResponse" type="tns:getXincoCoreNodeResponse" />

    <xs:element name="getXincoCoreNodes" type="tns:getXincoCoreNodes" />

    <xs:element name="getXincoCoreNodesResponse" type="tns:getXincoCoreNodesResponse" />

    <xs:element name="getXincoServerVersion" type="tns:getXincoServerVersion" />

    <xs:element name="getXincoServerVersionResponse" type="tns:getXincoServerVersionResponse" />

    <xs:element name="getXincoSetting" type="tns:getXincoSetting" />

    <xs:element name="getXincoSettingResponse" type="tns:getXincoSettingResponse" />

    <xs:element name="removeXincoCoreACE" type="tns:removeXincoCoreACE" />

    <xs:element name="removeXincoCoreACEResponse" type="tns:removeXincoCoreACEResponse" />

    <xs:element name="setXincoCoreACE" type="tns:setXincoCoreACE" />

    <xs:element name="setXincoCoreACEResponse" type="tns:setXincoCoreACEResponse" />

    <xs:element name="setXincoCoreData" type="tns:setXincoCoreData" />

    <xs:element name="setXincoCoreDataResponse" type="tns:setXincoCoreDataResponse" />

    <xs:element name="setXincoCoreGroup" type="tns:setXincoCoreGroup" />

    <xs:element name="setXincoCoreGroupResponse" type="tns:setXincoCoreGroupResponse" />

    <xs:element name="setXincoCoreLanguage" type="tns:setXincoCoreLanguage" />

    <xs:element name="setXincoCoreLanguageResponse" type="tns:setXincoCoreLanguageResponse" />

    <xs:element name="setXincoCoreLog" type="tns:setXincoCoreLog" />

    <xs:element name="setXincoCoreLogResponse" type="tns:setXincoCoreLogResponse" />

    <xs:element name="setXincoCoreNode" type="tns:setXincoCoreNode" />

    <xs:element name="setXincoCoreNodeResponse" type="tns:setXincoCoreNodeResponse" />

    <xs:element name="setXincoCoreUser" type="tns:setXincoCoreUser" />

    <xs:element name="setXincoCoreUserResponse" type="tns:setXincoCoreUserResponse" />

    <xs:element name="undoXincoCoreDataCheckout" type="tns:undoXincoCoreDataCheckout" />

    <xs:element name="undoXincoCoreDataCheckoutResponse" type="tns:undoXincoCoreDataCheckoutResponse" />

    <xs:element name="uploadXincoCoreData" type="tns:uploadXincoCoreData" />

    <xs:element name="uploadXincoCoreDataResponse" type="tns:uploadXincoCoreDataResponse" />

    <xs:complexType name="getXincoAddAttributes">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreData" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoCoreData">
        <xs:sequence>
            <xs:element name="changerID" type="xs:int" />
            <xs:element name="designation" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" />
            <xs:element name="status_number" type="xs:int" />
            <xs:element name="xinco_add_attributes" type="tns:XincoAddAttribute" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="xinco_core_acl" type="tns:XincoCoreACE" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="xinco_core_data_type" type="tns:XincoCoreDataType" minOccurs="0" />
            <xs:element name="xinco_core_language" type="tns:XincoCoreLanguage" minOccurs="0" />
            <xs:element name="xinco_core_logs" type="tns:XincoCoreLog" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="xinco_core_node_id" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoAddAttribute">
        <xs:sequence>
            <xs:element name="attrib_datetime" type="xs:dateTime" minOccurs="0" />
            <xs:element name="attrib_double" type="xs:double" />
            <xs:element name="attrib_int" type="xs:int" />
            <xs:element name="attrib_text" type="xs:string" minOccurs="0" />
            <xs:element name="attrib_unsignedint" type="xs:int" />
            <xs:element name="attrib_varchar" type="xs:string" minOccurs="0" />
            <xs:element name="attribute_id" type="xs:int" />
            <xs:element name="change" type="xs:boolean" />
            <xs:element name="changerID" type="xs:int" />
            <xs:element name="xinco_core_data_id" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoCoreDataType">
        <xs:sequence>
            <xs:element name="changerID" type="xs:int" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="designation" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" />
            <xs:element name="xinco_core_data_type_attributes" type="tns:XincoCoreDataTypeAttribute" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoCoreDataTypeAttribute">
        <xs:sequence>
            <xs:element name="attribute_id" type="xs:int" />
            <xs:element name="changerID" type="xs:int" />
            <xs:element name="data_type" type="xs:string" minOccurs="0" />
            <xs:element name="designation" type="xs:string" minOccurs="0" />
            <xs:element name="size" type="xs:int" />
            <xs:element name="xinco_core_data_type_id" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoCoreLanguage">
        <xs:sequence>
            <xs:element name="changerID" type="xs:int" />
            <xs:element name="designation" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" />
            <xs:element name="sign" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoCoreUser">
        <xs:sequence>
            <xs:element name="change" type="xs:boolean" />
            <xs:element name="changerID" type="xs:int" />
            <xs:element name="email" type="xs:string" minOccurs="0" />
            <xs:element name="firstname" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" />
            <xs:element name="name" type="xs:string" minOccurs="0" />
            <xs:element name="reason" type="xs:string" minOccurs="0" />
            <xs:element name="status_number" type="xs:int" />
            <xs:element name="username" type="xs:string" minOccurs="0" />
            <xs:element name="userpassword" type="xs:string" minOccurs="0" />
            <xs:element name="writeGroups" type="xs:boolean" />
            <xs:element name="xinco_core_groups" type="tns:XincoCoreGroup" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoAddAttributesResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoAddAttribute" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoCoreDataType">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreDataType" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoCoreDataTypeResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreDataType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreUser">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreUser" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreUserResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoCoreData">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreData" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoCoreDataResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreData" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="doXincoCoreDataCheckin">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreData" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="doXincoCoreDataCheckinResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreData" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreACE">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreACE" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoCoreACE">
        <xs:sequence>
            <xs:element name="admin_permission" type="xs:boolean" />
            <xs:element name="changerID" type="xs:int" />
            <xs:element name="execute_permission" type="xs:boolean" />
            <xs:element name="id" type="xs:int" />
            <xs:element name="read_permission" type="xs:boolean" />
            <xs:element name="write_permission" type="xs:boolean" />
            <xs:element name="xinco_core_data_id" type="xs:int" />
            <xs:element name="xinco_core_group_id" type="xs:int" />
            <xs:element name="xinco_core_node_id" type="xs:int" />
            <xs:element name="xinco_core_user_id" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreACEResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreACE" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="doXincoCoreDataCheckout">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreData" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="doXincoCoreDataCheckoutResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreData" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreData">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreData" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreDataResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreData" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllXincoCoreLanguages">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllXincoCoreLanguagesResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreLanguage" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreLog">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreLog" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoCoreLog">
        <xs:sequence>
            <xs:element name="changerID" type="xs:int" />
            <xs:element name="id" type="xs:int" />
            <xs:element name="op_code" type="xs:int" />
            <xs:element name="op_datetime" type="xs:dateTime" minOccurs="0" />
            <xs:element name="op_description" type="xs:string" minOccurs="0" />
            <xs:element name="version" type="tns:XincoVersion" minOccurs="0" />
            <xs:element name="xinco_core_data_id" type="xs:int" />
            <xs:element name="xinco_core_user_id" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoVersion">
        <xs:sequence>
            <xs:element name="version_high" type="xs:int" />
            <xs:element name="version_low" type="xs:int" />
            <xs:element name="version_mid" type="xs:int" />
            <xs:element name="version_postfix" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreLogResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreLog" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="removeXincoCoreACE">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreACE" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="removeXincoCoreACEResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkXincoCoreUserNewPassword">
        <xs:sequence>
            <xs:element name="in0" type="xs:string" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
            <xs:element name="in2" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="checkXincoCoreUserNewPasswordResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllXincoCoreDataTypes">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllXincoCoreDataTypesResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreDataType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreNode">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreNode" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoCoreNode">
        <xs:sequence>
            <xs:element name="changerID" type="xs:int" />
            <xs:element name="designation" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" />
            <xs:element name="status_number" type="xs:int" />
            <xs:element name="xinco_core_acl" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="xinco_core_data" type="tns:XincoCoreData" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="xinco_core_language" type="tns:XincoCoreLanguage" minOccurs="0" />
            <xs:element name="xinco_core_node_id" type="xs:int" />
            <xs:element name="xinco_core_nodes" type="tns:XincoCoreNode" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreNodeResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreNode" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="findXincoCoreData">
        <xs:sequence>
            <xs:element name="in0" type="xs:string" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreLanguage" minOccurs="0" />
            <xs:element name="in2" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="findXincoCoreDataResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreLanguage">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreLanguage" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreLanguageResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreLanguage" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllXincoCoreGroups">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllXincoCoreGroupsResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreGroup" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoCoreGroup">
        <xs:sequence>
            <xs:element name="changerID" type="xs:int" />
            <xs:element name="designation" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" />
            <xs:element name="status_number" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="downloadXincoCoreData">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreData" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="downloadXincoCoreDataResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoCoreNodes">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreNode" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoCoreNodesResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreNode" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoSetting">
        <xs:sequence>
            <xs:element name="in0" type="xs:string" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoSettingResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoSetting" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="XincoSetting">
        <xs:sequence>
            <xs:element name="bool_value" type="xs:boolean" />
            <xs:element name="changerID" type="xs:int" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" />
            <xs:element name="int_value" type="xs:int" />
            <xs:element name="long_value" type="xs:long" />
            <xs:element name="string_value" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreGroup">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreGroup" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="setXincoCoreGroupResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreGroup" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoCoreDataTypeAttribute">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreDataType" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoCoreDataTypeAttributeResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreDataTypeAttribute" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoServerVersion">
        <xs:sequence />
    </xs:complexType>

    <xs:complexType name="getXincoServerVersionResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoVersion" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="undoXincoCoreDataCheckout">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreData" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="undoXincoCoreDataCheckoutResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreData" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoCoreNode">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreNode" minOccurs="0" />
            <xs:element name="in1" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getXincoCoreNodeResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreNode" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uploadXincoCoreData">
        <xs:sequence>
            <xs:element name="in0" type="tns:XincoCoreData" minOccurs="0" />
            <xs:element name="in1" type="xs:base64Binary" nillable="true" minOccurs="0" />
            <xs:element name="in2" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uploadXincoCoreDataResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCurrentXincoCoreUser">
        <xs:sequence>
            <xs:element name="in0" type="xs:string" minOccurs="0" />
            <xs:element name="in1" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCurrentXincoCoreUserResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:XincoCoreUser" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>