XincoExplorer/src/META-INF/wsdl/localhost_8084/xinco/Xinco.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.server.xinco.bluecubs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.server.xinco.bluecubs.com/" name="XincoService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.server.xinco.bluecubs.com/" schemaLocation="http://localhost:8084/xinco/Xinco?xsd=1" />
</xsd:schema>
</types>
<message name="getXincoCoreDataType">
<part name="parameters" element="tns:getXincoCoreDataType" />
</message>
<message name="getXincoCoreDataTypeResponse">
<part name="parameters" element="tns:getXincoCoreDataTypeResponse" />
</message>
<message name="getXincoAddAttributes">
<part name="parameters" element="tns:getXincoAddAttributes" />
</message>
<message name="getXincoAddAttributesResponse">
<part name="parameters" element="tns:getXincoAddAttributesResponse" />
</message>
<message name="getXincoCoreNodes">
<part name="parameters" element="tns:getXincoCoreNodes" />
</message>
<message name="getXincoCoreNodesResponse">
<part name="parameters" element="tns:getXincoCoreNodesResponse" />
</message>
<message name="getXincoCoreData">
<part name="parameters" element="tns:getXincoCoreData" />
</message>
<message name="getXincoCoreDataResponse">
<part name="parameters" element="tns:getXincoCoreDataResponse" />
</message>
<message name="getXincoServerVersion">
<part name="parameters" element="tns:getXincoServerVersion" />
</message>
<message name="getXincoServerVersionResponse">
<part name="parameters" element="tns:getXincoServerVersionResponse" />
</message>
<message name="getCurrentXincoCoreUser">
<part name="parameters" element="tns:getCurrentXincoCoreUser" />
</message>
<message name="getCurrentXincoCoreUserResponse">
<part name="parameters" element="tns:getCurrentXincoCoreUserResponse" />
</message>
<message name="getAllXincoCoreGroups">
<part name="parameters" element="tns:getAllXincoCoreGroups" />
</message>
<message name="getAllXincoCoreGroupsResponse">
<part name="parameters" element="tns:getAllXincoCoreGroupsResponse" />
</message>
<message name="getAllXincoCoreLanguages">
<part name="parameters" element="tns:getAllXincoCoreLanguages" />
</message>
<message name="getAllXincoCoreLanguagesResponse">
<part name="parameters" element="tns:getAllXincoCoreLanguagesResponse" />
</message>
<message name="getAllXincoCoreDataTypes">
<part name="parameters" element="tns:getAllXincoCoreDataTypes" />
</message>
<message name="getAllXincoCoreDataTypesResponse">
<part name="parameters" element="tns:getAllXincoCoreDataTypesResponse" />
</message>
<message name="getXincoCoreNode">
<part name="parameters" element="tns:getXincoCoreNode" />
</message>
<message name="getXincoCoreNodeResponse">
<part name="parameters" element="tns:getXincoCoreNodeResponse" />
</message>
<message name="doXincoCoreDataCheckout">
<part name="parameters" element="tns:doXincoCoreDataCheckout" />
</message>
<message name="doXincoCoreDataCheckoutResponse">
<part name="parameters" element="tns:doXincoCoreDataCheckoutResponse" />
</message>
<message name="doXincoCoreDataCheckin">
<part name="parameters" element="tns:doXincoCoreDataCheckin" />
</message>
<message name="doXincoCoreDataCheckinResponse">
<part name="parameters" element="tns:doXincoCoreDataCheckinResponse" />
</message>
<message name="undoXincoCoreDataCheckout">
<part name="parameters" element="tns:undoXincoCoreDataCheckout" />
</message>
<message name="undoXincoCoreDataCheckoutResponse">
<part name="parameters" element="tns:undoXincoCoreDataCheckoutResponse" />
</message>
<message name="downloadXincoCoreData">
<part name="parameters" element="tns:downloadXincoCoreData" />
</message>
<message name="downloadXincoCoreDataResponse">
<part name="parameters" element="tns:downloadXincoCoreDataResponse" />
</message>
<message name="uploadXincoCoreData">
<part name="parameters" element="tns:uploadXincoCoreData" />
</message>
<message name="uploadXincoCoreDataResponse">
<part name="parameters" element="tns:uploadXincoCoreDataResponse" />
</message>
<message name="findXincoCoreData">
<part name="parameters" element="tns:findXincoCoreData" />
</message>
<message name="findXincoCoreDataResponse">
<part name="parameters" element="tns:findXincoCoreDataResponse" />
</message>
<message name="setXincoCoreNode">
<part name="parameters" element="tns:setXincoCoreNode" />
</message>
<message name="setXincoCoreNodeResponse">
<part name="parameters" element="tns:setXincoCoreNodeResponse" />
</message>
<message name="setXincoCoreData">
<part name="parameters" element="tns:setXincoCoreData" />
</message>
<message name="setXincoCoreDataResponse">
<part name="parameters" element="tns:setXincoCoreDataResponse" />
</message>
<message name="setXincoCoreACE">
<part name="parameters" element="tns:setXincoCoreACE" />
</message>
<message name="setXincoCoreACEResponse">
<part name="parameters" element="tns:setXincoCoreACEResponse" />
</message>
<message name="removeXincoCoreACE">
<part name="parameters" element="tns:removeXincoCoreACE" />
</message>
<message name="removeXincoCoreACEResponse">
<part name="parameters" element="tns:removeXincoCoreACEResponse" />
</message>
<message name="setXincoCoreLog">
<part name="parameters" element="tns:setXincoCoreLog" />
</message>
<message name="setXincoCoreLogResponse">
<part name="parameters" element="tns:setXincoCoreLogResponse" />
</message>
<message name="setXincoCoreUser">
<part name="parameters" element="tns:setXincoCoreUser" />
</message>
<message name="setXincoCoreUserResponse">
<part name="parameters" element="tns:setXincoCoreUserResponse" />
</message>
<message name="setXincoCoreGroup">
<part name="parameters" element="tns:setXincoCoreGroup" />
</message>
<message name="setXincoCoreGroupResponse">
<part name="parameters" element="tns:setXincoCoreGroupResponse" />
</message>
<message name="setXincoCoreLanguage">
<part name="parameters" element="tns:setXincoCoreLanguage" />
</message>
<message name="setXincoCoreLanguageResponse">
<part name="parameters" element="tns:setXincoCoreLanguageResponse" />
</message>
<message name="checkXincoCoreUserNewPassword">
<part name="parameters" element="tns:checkXincoCoreUserNewPassword" />
</message>
<message name="checkXincoCoreUserNewPasswordResponse">
<part name="parameters" element="tns:checkXincoCoreUserNewPasswordResponse" />
</message>
<message name="getXincoSetting">
<part name="parameters" element="tns:getXincoSetting" />
</message>
<message name="getXincoSettingResponse">
<part name="parameters" element="tns:getXincoSettingResponse" />
</message>
<message name="getXincoCoreDataTypeAttribute">
<part name="parameters" element="tns:getXincoCoreDataTypeAttribute" />
</message>
<message name="getXincoCoreDataTypeAttributeResponse">
<part name="parameters" element="tns:getXincoCoreDataTypeAttributeResponse" />
</message>
<portType name="Xinco">
<operation name="getXincoCoreDataType">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoCoreDataTypeRequest" message="tns:getXincoCoreDataType" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoCoreDataTypeResponse" message="tns:getXincoCoreDataTypeResponse" />
</operation>
<operation name="getXincoAddAttributes">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoAddAttributesRequest" message="tns:getXincoAddAttributes" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoAddAttributesResponse" message="tns:getXincoAddAttributesResponse" />
</operation>
<operation name="getXincoCoreNodes">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoCoreNodesRequest" message="tns:getXincoCoreNodes" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoCoreNodesResponse" message="tns:getXincoCoreNodesResponse" />
</operation>
<operation name="getXincoCoreData">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoCoreDataRequest" message="tns:getXincoCoreData" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoCoreDataResponse" message="tns:getXincoCoreDataResponse" />
</operation>
<operation name="getXincoServerVersion">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoServerVersionRequest" message="tns:getXincoServerVersion" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoServerVersionResponse" message="tns:getXincoServerVersionResponse" />
</operation>
<operation name="getCurrentXincoCoreUser">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getCurrentXincoCoreUserRequest" message="tns:getCurrentXincoCoreUser" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getCurrentXincoCoreUserResponse" message="tns:getCurrentXincoCoreUserResponse" />
</operation>
<operation name="getAllXincoCoreGroups">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getAllXincoCoreGroupsRequest" message="tns:getAllXincoCoreGroups" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getAllXincoCoreGroupsResponse" message="tns:getAllXincoCoreGroupsResponse" />
</operation>
<operation name="getAllXincoCoreLanguages">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getAllXincoCoreLanguagesRequest" message="tns:getAllXincoCoreLanguages" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getAllXincoCoreLanguagesResponse" message="tns:getAllXincoCoreLanguagesResponse" />
</operation>
<operation name="getAllXincoCoreDataTypes">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getAllXincoCoreDataTypesRequest" message="tns:getAllXincoCoreDataTypes" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getAllXincoCoreDataTypesResponse" message="tns:getAllXincoCoreDataTypesResponse" />
</operation>
<operation name="getXincoCoreNode">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoCoreNodeRequest" message="tns:getXincoCoreNode" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoCoreNodeResponse" message="tns:getXincoCoreNodeResponse" />
</operation>
<operation name="doXincoCoreDataCheckout">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/doXincoCoreDataCheckoutRequest" message="tns:doXincoCoreDataCheckout" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/doXincoCoreDataCheckoutResponse" message="tns:doXincoCoreDataCheckoutResponse" />
</operation>
<operation name="doXincoCoreDataCheckin">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/doXincoCoreDataCheckinRequest" message="tns:doXincoCoreDataCheckin" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/doXincoCoreDataCheckinResponse" message="tns:doXincoCoreDataCheckinResponse" />
</operation>
<operation name="undoXincoCoreDataCheckout">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/undoXincoCoreDataCheckoutRequest" message="tns:undoXincoCoreDataCheckout" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/undoXincoCoreDataCheckoutResponse" message="tns:undoXincoCoreDataCheckoutResponse" />
</operation>
<operation name="downloadXincoCoreData">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/downloadXincoCoreDataRequest" message="tns:downloadXincoCoreData" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/downloadXincoCoreDataResponse" message="tns:downloadXincoCoreDataResponse" />
</operation>
<operation name="uploadXincoCoreData">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/uploadXincoCoreDataRequest" message="tns:uploadXincoCoreData" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/uploadXincoCoreDataResponse" message="tns:uploadXincoCoreDataResponse" />
</operation>
<operation name="findXincoCoreData">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/findXincoCoreDataRequest" message="tns:findXincoCoreData" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/findXincoCoreDataResponse" message="tns:findXincoCoreDataResponse" />
</operation>
<operation name="setXincoCoreNode">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreNodeRequest" message="tns:setXincoCoreNode" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreNodeResponse" message="tns:setXincoCoreNodeResponse" />
</operation>
<operation name="setXincoCoreData">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreDataRequest" message="tns:setXincoCoreData" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreDataResponse" message="tns:setXincoCoreDataResponse" />
</operation>
<operation name="setXincoCoreACE">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreACERequest" message="tns:setXincoCoreACE" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreACEResponse" message="tns:setXincoCoreACEResponse" />
</operation>
<operation name="removeXincoCoreACE">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/removeXincoCoreACERequest" message="tns:removeXincoCoreACE" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/removeXincoCoreACEResponse" message="tns:removeXincoCoreACEResponse" />
</operation>
<operation name="setXincoCoreLog">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreLogRequest" message="tns:setXincoCoreLog" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreLogResponse" message="tns:setXincoCoreLogResponse" />
</operation>
<operation name="setXincoCoreUser">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreUserRequest" message="tns:setXincoCoreUser" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreUserResponse" message="tns:setXincoCoreUserResponse" />
</operation>
<operation name="setXincoCoreGroup">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreGroupRequest" message="tns:setXincoCoreGroup" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreGroupResponse" message="tns:setXincoCoreGroupResponse" />
</operation>
<operation name="setXincoCoreLanguage">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreLanguageRequest" message="tns:setXincoCoreLanguage" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/setXincoCoreLanguageResponse" message="tns:setXincoCoreLanguageResponse" />
</operation>
<operation name="checkXincoCoreUserNewPassword">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/checkXincoCoreUserNewPasswordRequest" message="tns:checkXincoCoreUserNewPassword" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/checkXincoCoreUserNewPasswordResponse" message="tns:checkXincoCoreUserNewPasswordResponse" />
</operation>
<operation name="getXincoSetting">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoSettingRequest" message="tns:getXincoSetting" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoSettingResponse" message="tns:getXincoSettingResponse" />
</operation>
<operation name="getXincoCoreDataTypeAttribute">
<input wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoCoreDataTypeAttributeRequest" message="tns:getXincoCoreDataTypeAttribute" />
<output wsam:Action="http://service.server.xinco.bluecubs.com/Xinco/getXincoCoreDataTypeAttributeResponse" message="tns:getXincoCoreDataTypeAttributeResponse" />
</operation>
</portType>
<binding name="XincoPortBinding" type="tns:Xinco">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getXincoCoreDataType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getXincoAddAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getXincoCoreNodes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getXincoCoreData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getXincoServerVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCurrentXincoCoreUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllXincoCoreGroups">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllXincoCoreLanguages">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllXincoCoreDataTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getXincoCoreNode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="doXincoCoreDataCheckout">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="doXincoCoreDataCheckin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="undoXincoCoreDataCheckout">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="downloadXincoCoreData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="uploadXincoCoreData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="findXincoCoreData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setXincoCoreNode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setXincoCoreData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setXincoCoreACE">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeXincoCoreACE">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setXincoCoreLog">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setXincoCoreUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setXincoCoreGroup">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setXincoCoreLanguage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkXincoCoreUserNewPassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getXincoSetting">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getXincoCoreDataTypeAttribute">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="XincoService">
<port name="XincoPort" binding="tns:XincoPortBinding">
<soap:address location="http://localhost:8084/xinco/Xinco" />
</port>
</service>
</definitions>